.btn
{
    border: 1px solid #c0c0c0;
}

.btn-primary
{
    background-color: #c0c0c0 !important;
}

#header
{
    background-color: #c0c0c0;
}

#agency
{
    padding-top: 25px; 
}

#title
{
    color: #ffffff;
}

#table-div
{
    padding-top: 25px;
}

#newProject
{
    padding-top: 25px;
}

@media only screen and (min-width: 1000px)
{
    #title
    {
        padding-top: 20px;
        right: 50px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 999px)
{
    #title
    {
        left: 50px;
    }
}